bentoml==1.0.0a7
catboost==0.26.1
dagshub==0.1.8
joblib==0.17.0
keras==2.8.0
lightgbm==2.3.1
matplotlib==3.5.1
mlflow==1.24.0
numpy==1.22.3
pandas==1.4.2
requests==2.27.1
scikit_image==0.18.3
scikit_learn==1.0.2
seaborn==0.11.0
skimage==0.0
tensorflow==2.8.0
tqdm==4.64.0
xgboost==1.4.2
